<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>MoodGym</title>
</head>
	
<body>
<nav class="navbar justify-content-center">
    <div class="logo"> 
		<img src="../Public/img/logowhite.png">
	</div>
</nav>
<div class="container2-sm ">
  
</div>
<div class="container-md ">
  	<div class="logo2"> 
		<img src="../Public/img/logo2.png">
	</div>
	<h5 class="text-muted" >Zaloguj się</h5>
  	<p class="text-muted">Zaloguj się za pomocą e-mail:</p>
	<div align="center">
	<form>
        <input name="email" type="text" placeholder="email@email.com">
        <input name="password" type="password" placeholder="password">
			<p2 class="text-right">Nie pamiętasz hasła?</p2>
		
		<button type="submit">Zaloguj</button>
		<button type="submit2">Zarejestruj się</button>
    </form>

		

		

	</div>
</div>

</body>
</html>