<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>MoodGym</title>
</head>
	
<body>
<nav class="navbar ">
	<div class="menuu">
		<div class="logo"> 
			<img src="../Public/img/logowhite.png">
		</div>
		<div class="fas">
			<div class="calendar">
				<img src="../Public/img/809622-32.png">
				<p class="text-white-50">Zarezerwuj</p>	
			</div>
			
		<div class="list">
			<img src="../Public/img/293685-32.png">
		</div>
			<p class="text-white-50">Moje zajęcia</p>
			
		<div class="userprof">
			<img src="../Public/img/1608727-32.png">
		</div>
			<p class="text-white-50">Profil</p>
		</div>
	</div>
</nav>
<div class="container-md2">
	<div align="center">
  	<div class="logo2"> 
		<img src="../Public/img/logo2.png" style="width:300px;height100px;">
	</div>
	<div class="logo3"> 
		<img src="../Public/img/check-solid.svg">
	</div>
		<p class="text-muted main">Wszystkie płatności są uregulowane.</p>
		<div class="right-form">
			<button class="button2" type="submit">Opłać kolejny miesiąc</button>
		</div>

	</div>
</div>

</body>
</html>