<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MoodGym</title>
</head>
	
<body>
<nav class="navbar justify-content bg-dark">
	<a class="nav-link" href="#">
		<div class="logo"> 
			<img src="../Public/img/logowhite.png">
		</div>
	</a>
  	<div class="navbarNav">  
		<ul class="navbar-nav">
		  <li class="nav-item">
			<a class="nav-link" href="#">
				<i class="far fa-calendar-alt"></i>
					Zarerwuj 
			  </a>  
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">
				<i class="fas fa-list"></i>
				Moje zajęcia
			  </a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#"> 
				<i class="fas fa-user"></i>
				Profil</a>
		  </li>
			<div class="right">
				<a class="nav-link wyloguj" href="#">
				Wyloguj
				<i class="fas fa-sign-out-alt"></i>
				</a>
			</div>
		</ul>
  	</div>

</nav>
	
<nav class="navbar-down justify-content-center bg-dark"> 
		<ul class="navbar-nav-down">
		  <li class="nav-item-down">
			<a class="nav-link-down" href="#">
				<i class="far fa-calendar-alt"></i>
			  </a>  
		  </li>
		  <li class="nav-item-down">
			<a class="nav-link-down" href="#">
				<i class="fas fa-list"></i>
			  </a>
		  </li>
		  <li class="nav-item-down">
			<a class="nav-link-down" href="#"> 
				<i class="fas fa-user"></i>
			</a>
		  </li>
			<li class="nav-item-down">
				<a class="nav-link-down" href="#">
					<i class="fas fa-sign-out-alt"></i>
				</a>
			</li>
		</ul>


</nav>
<div class="container-md2">
	<div align="center">
  	<div class="logo2"> 
		<img src="../Public/img/logo2.png" style="width:300px;height100px;">
	</div>
	<div class="logo3"> 
		<img src="../Public/img/check-solid.svg">
	</div>
		<p class="text-muted main">Wszystkie płatności są uregulowane.</p>
		<div class="right-form">
			<button class="button2" type="submit">Opłać kolejny miesiąc
				<i class="fas fa-arrow-right"></i>
			</button>
		</div>

	</div>
</div>

</body>
</html>