<nav class="navbar ">
	<div class="menuu">
		<div class="logo"> 
			<img src="../Public/img/logowhite.png">
		</div>
		<div class="fas">
			<div class="calendar">
				<img src="../Public/img/809622-32.png">
				<p class="text-white-50">Zarezerwuj</p>	
			</div>
			
		<div class="list">
			<img src="../Public/img/293685-32.png">
		</div>
			<p class="text-white-50">Moje zajęcia</p>
			
		<div class="userprof">
			<img src="../Public/img/1608727-32.png">
		</div>
			<p class="text-white-50">Profil</p>
		</div>
	</div>
</nav>