<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<link rel="Stylesheet" type="text/css" href="../Public/css/style.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>MoodGym</title>
</head>
	
<body>
<nav class="navbar justify-content-center bg-dark">
    <div class="logo"> 
		<img src="../Public/img/logowhite.png">
	</div>
</nav>
<div class="container-md ">
  	<div class="logo2"> 
		<img src="../Public/img/logo2.png">
	</div>
	<h5 class="text-muted" >Zarejestruj się</h5>
  	
	<div align="center">
	<form>
		<p3 class="text-muted">E-mail:</p3>
        <input name="email" type="text" placeholder="email@email.com">
		<p3 class="text-muted">Hasło:</p3>
        <input name="password" type="password" placeholder="password">
		<p3 class="text-muted">Powtórz hasło:</p3>
        <input name="password" type="password" placeholder="password">
		<button type="submit2">Zarejestruj się</button>
		<p4 class="text-muted">Masz już konto?</p4>
		<button type="submit">Zaloguj się</button>
		
    </form>

		

		

	</div>
</div>

</body>
</html>