body{
  width: 100%;
  height: 100%;
  background-color: #eaeaea !important; 
}

nav{
	width: 100%;
	height: 82px;
	position: relative;
	background-color: #464646;
}
.logo > img {
	align-content: center;
	 width: 9em;
}
.logo2 > img{
	 width: 9em;
}
.menuu{
	display: flex;
	margin-right: 100%;

	flex-direction: row;
	justify-content: center;
}
.fas{
	display: flex;
	max-width: 100%;
	margin-top: 20px;
	margin-left: 200px;
	justify-content: center;
}
.calendar{
	display: flex;
	align-items: flex-start;
	flex-direction: row;
}
.list{
	height: 20px;
	margin-left: 100px;
}
.userprof{
	margin-left: 100px;
}
.exit{
	align-content: center;
	margin-left: 300px;
}
.container-md2{
	margin-top: 40px;
	display:flex;
	justify-content:center;
}
.container-md {
  width: 524px !important;
  margin-top: 40px;
  height: 424px;
  background-color: #ffffff;
  text-decoration-color: gold;
  text-align:center;
}

.container2-sm {
  width: 524px !important;
  height:3em;
}
.logo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo3{
	width: 150px;
	height: 150px;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
	text-align: center;
    flex-direction: column;
    width:50%;
  	justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 0em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #d6d6d6;
    border-radius: 2em;

    /* font */
    color: #818181;
    line-height: 2.5em;
    font-size: 0.8em;
}
form > button {
	margin: 0 5em 1em 5em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    line-height: 2.5em;
    font-size: 0.8em;
}
.text-white-50{
	display: flex;
	justify-content: center;
	margin-left: 5px;
	flex-direction: row;
}
.right-form{
	display: flex;
	justify-content: flex-end;
}
.button2{
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;
    line-height: 2.5em;
    font-size: 1em;
}
.indeks{
	text-align: right;
	font-size: 0.7em;
}

form > p3{
	text-align: left;
	font-size: 0.8em;
}

form > p4{
	font-size: 0.6em;
}
.main{
	font-size: 1.5em;
}
@media
